@media screen and (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #menuButton {
        display: none;
    }

    #mainNav {
        display: block;
    }

    #mainNav ul {
        display: flex;
        gap: 1rem;
    }

    #mainNav li {
        margin: 0;
    }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .tool-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .student-form form {
        max-width: 700px;
        margin: 0 auto;
    }
}